/* Import wallust-generated color definitions */
@import "colors.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Geist Mono, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

window#waybar {
    background-color: transparent;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: @color0;
}

window#waybar.chromium {
    background-color: @color0;
    border: none;
}

button {
    border: 0px none;
    border-radius: 0;
    box-shadow: none;
}

button:hover {
    background: inherit;
}

#workspaces {
    background-color: alpha(@background, 0.45);
    border-radius: 6px;
}

#workspaces button {
    padding: 3px 5px;
    margin-right: 2px;
    background-color: transparent;
    border-radius: 6px;
    color: @color7;
}

#workspaces button:hover {
    background-color: @color4;
}

#workspaces button.active {
    background-color: @color6;
    color: @background;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: @color1;
}

#submap {
    background-color: @color8;
    box-shadow: inset 0 -3px @foreground;
}


#clock,
#cpu,
#memory,
#custom-temps,
#pulseaudio,
#wireplumber,
#custom-media,
#mpris,
#submap {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 2px 10px;
    border-radius: 6px;
    /* background-color: #60a5fa; */
    background-color: alpha(@background, 0.45);
    color: @foreground;
}



#tray {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 6px;
    background-color: alpha(@background, 0.45);
}


box.module:hover {
    background-color: @color7;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: 2px solid @foreground;
    background-color: @color2;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 14px;
    min-width: 100px;
    border-radius: 6px;
    background-color: alpha(@background, 0.65);
    border: none;
}

#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 6px;
    border-color: @color3;
    background-color: @color3;
}

#workspaces {
    margin: 10px 20px;
}

#clock {
    font-weight: 700;
    border-radius: 6px;
}

label:focus {
    background-color: @color0;
}

#clock {
    font-weight: 600;
    margin-right: 20px;
}

#custom-media {
    background-color: @color2;
    color: @background;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: @color2;
}

#custom-media.custom-vlc {
    background-color: @color3;
}

/* #mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
} */

#mpris.playing {
    background-color: @color2;
    color: @background;
}

#mpris.paused,
#mpris.stopped {
    background-color: alpha(@background, 0.45);
    color: @foreground;
}
